## Ignore arquivos e pastas geradas automaticamente pelo .NET

bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
.vscode/

# arquivos de configuração de IDE
.idea/
*.sln.ide

# arquivos de log
*.log

# senhas ou configs locais
appsettings.Development.json
appsettings.Local.json
appsettings.json

# pacote nuget
*.nupkg
